[submodule "multiagent-rl/src"]
	path = multiagent-rl/src
	url = git@github.com:TJU-DRL-LAB/Multiagent-RL.git
[submodule "transfer-and-multi-task-rl"]
	path = transfer-and-multi-task-rl
	url = git@github.com:TJU-DRL-LAB/transfer-and-multi-task-reinforcement-learning.git
